<div>
  <!-- Comentado -->

  <!-- <form #form="ngForm" (ngSubmit)="create(form)">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Nombre Curso</span>
      </div>
      <input
        type="text"
        placeholder="Type here"
        class="input input-bordered w-full max-w-xs"
        [(ngModel)]="createCourse.name"
        name="name"
        #name="ngModel"
      />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Nivel</span>
      </div>
      <select
        class="select select-bordered"
        [(ngModel)]="createCourse.level"
        name="level"
        #level="ngModel"
      >
        <option disabled selected>Nivel del Curso</option>
        <option>ENTRY</option>
        <option>INTERMEDIATE</option>
        <option>ADVANCE</option>
      </select>
    </label>

    <div class="flex flex-row">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Tecnología 1</span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          name="techStack1"
          ngModel
        />
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Tecnología 2</span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          name="techStack2"
          ngModel
        />
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Tecnología 3</span>
        </div>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          name="techStack3"
          ngModel
        />
      </label>
    </div>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Descriopción del curso</span>
      </div>
      <textarea
        placeholder="Bio"
        class="textarea textarea-bordered textarea-xs w-full max-w-xs"
        [(ngModel)]="createCourse.description"
        name="description"
        #description="ngModel"
      ></textarea>
    </label>
    <button class="btn">Crear</button>
  </form> -->
  <!--Comentado -->
  <!-- component -->
  <link
    rel="stylesheet"
    href="https://cdn.tailgrids.com/tailgrids-fallback.css"
  />

  <!-- ====== Contact Section Start -->
  <section class="bg-white overflow-hidden relative z-10 my-3">
    <div class="container">
      <div class="flex flex-wrap lg:justify-between -mx-4">
        <div class="w-full lg:w-1/2 xl:w-6/12 px-4">
          <!-- Información del curso -->
          <div class="night">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>
          <div class="max-w-[570px] mt-10 ml-10">
            <h2
              class="mt-8 text-dark mb-6 font-bold text-[32px] sm:text-text-2xl lg:text-text-4xl xl:text-4xl"
            >
              Crea un <span class="gradient-text">curso</span>
            </h2>
            <p class="text-base text-body-color leading-relaxed mb-9">
              En FirstClicks, creemos en el poder del aprendizaje compartido. Si
              tienes habilidades y conocimientos que deseas transmitir, estás en
              el lugar correcto. Crear un curso es una excelente manera de
              conectar con estudiantes apasionados, construir tu reputación y, por supuesto, ¡ayudar a otros a aprender algo nuevo!
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 xl:w-5/12 lg:pr-10">
          <div class="bg-white relative rounded-lg p-8 sm:p-12 shadow-xl">
          
              <h1>@if(courseExists) { Editar } @else { Nuevo } Curso</h1>

              @if(errors.length) {
              <div class="mt-5 alert alert-danger">
                <ul>
                  @for (error of errors; track error) {
                  <li>{{ error }}</li>
                  }
                </ul>
              </div>
              }
              <br />
              @if (form) {
              <form [formGroup]="form" (ngSubmit)="save()">
                <label class="form-control w-full max-w-xs">
                  <div class="label">
                    <span class="label-text">Nombre del curso</span>
                  </div>
                  <input
                    type="text"
                    placeholder="Ejemplo: Curso de HTML"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="name"
                    formControlName="name"
                  />
                  <div></div>
                </label>
                <label class="form-control w-full max-w-xs">
                  <div class="label">
                    <span class="label-text">Nivel del curso</span>
                  </div>
                  <select
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    formControlName="level"
                    name="level"
                  >
                    <option disabled selected>Nivel del curso</option>
                    <option>Entry</option>
                    <option>Intermediate</option>
                    <option>Advance</option>
                  </select>
                </label>

                <div class="flex flex-row items-center">
                  <label class="form-control w-full max-w-xs">
                    <div class="label">
                      <span class="label-text">Tecnologías</span>
                    </div>
                    <input
                      type="text"
                      placeholder="HTML..."
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      name="techStack2"
                      #techStack
                    />
                  </label>
                  <button
                    type="button"
                    class="mt-11 ml-2 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    (click)="addTechStack(techStack.value)"
                  >
                    Añadir
                  </button>
                  @for (item of techs; track $index) {
                  <span
                    id="badge-dismiss-orange"
                    class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-orange-800 bg-orange-300 rounded dark:bg-orange-900 dark:text-white"
                  >
                    <input
                      type="text"
                      placeholder="{{ item }}"
                      class="w-full max-w-52 bg-orange-300 text-white rounded dark:bg-orange-900 dark:text-orange-300"
                      #tech
                      disabled
                    />
                    <button
                      type="button"
                      class="inline-flex items-center p-1 ms-2 text-sm text-orange-400 bg-transparent rounded-sm hover:bg-orange-300 hover:text-orange-900 dark:hover:bg-orange-800 dark:hover:text-orange-300"
                      (click)="deleteTechStack(tech.placeholder)"
                      aria-label="Remove"
                    >
                      <svg
                        class="w-2 h-2"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                      </svg>
                      <span class="sr-only">Remove badge</span>
                    </button>
                  </span>
                  }
                </div>

                <label class="form-control w-full">
                  <div class="label">
                    <span class="label-text">Descripción del curso</span>
                  </div>
                  <textarea
                    placeholder="Bio"
                    class="textarea textarea-bordered textarea-xs w-full max-w-full bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="description"
                    formControlName="description"
                  ></textarea>
                </label>
                <label class="form-control w-full">
                  <input
                    type="file"
                    accept=".png,.jpg,.jpeg"
                    class="file-input file-input-bordered w-full max-w-xs"
                    (change)="uploadFile($event, 'coverPath')"
                  />
                </label>

                <button
                  class="w-full mt-2 text-white createbtn rounded p-3 transition hover:bg-opacity-90"
                >
                  @if (courseExists) {
                  {{ "Actualizar" }}
                  } @else {
                  {{ "Crear" }}
                  }
                </button>
              </form>
              @if (courseExists) {
              <button (click)="deleteCourse()" class="btn btn-outline">
                Eliminar
              </button>
              } }
              <div></div>
           
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <br />
  <br />
  <br />
  <br />
  <div class="btm-nav">
    <button routerLink="/tutor/courses">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
      </svg>
    </button>
    <button class="active">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </button>
  </div>
</div>
