<!-- COURSE -->
<app-course-card [course]="course" [linkPath]="''"></app-course-card>
<div class="card w-96 bg-base-100 shadow-xl">
  @for (review of course.studentReview; track $index) { @if (review != null) {
  <div class="card-body">
    <p>"{{ review }}"</p>
  </div>
  } }
</div>
<!-- SUTDENT ENROLLMENT BUTTON -->
@if (user?.role == "STUDENT") {
<button class="btn" (click)="studentEnroll(course.id || 0)">
  Apuntarse
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
    />
  </svg>
</button>
<div *ngIf="showSuccess" role="alert" class="alert alert-success z-20">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="stroke-current shrink-0 h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>Te has apuntado a este curso correctamente</span>
  <button class="btn btn-sm" (click)="closeAlert()">Cerrar</button>
  <button class="btn btn-sm btn-primary" [routerLink]="['/student/courses']">
    Ir a mis cursos
  </button>
</div>
<div *ngIf="showError" role="alert" class="alert alert-error z-20">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="stroke-current shrink-0 h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>Ya estabas apuntado a este curso</span>
  <button class="btn btn-sm" (click)="closeAlert()">Cerrar</button>
  <button class="btn btn-sm btn-primary" [routerLink]="['/student/courses']">
    Ir a mis cursos
  </button>
</div>
} @else if (user?.role != "TUTOR") {
<a [href]="['courses/' + course.id + '#modal2']">
  <button class="btn">
    Apuntarse
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
      />
    </svg>
  </button>
</a>

}
<!-- MODAL LOGIN -->
<div id="modal2" class="modalmask" [hidden]="isClosed">
  <div class="modalbox movedown">
    <a [href]="['courses/' + course.id + '#close']" title="Close" class="close"
      >X</a
    >
    <div class="text-black login">
      <div
        class="flex flex-col lg:flex-row lg:w-6/12 rounded-xl mx-auto shadow-lg overflow-hidden"
      >
        <div
          class="w-full lg:w-1/2 flex flex-col items-center signup justify-center p-12 bg-no-repeat bg-cover bg-center"
          style="background-image: url('assets/logo.png'); background-size: 50%"
        ></div>
        <div class="w-full lg:w-1/2 py-16 px-12 bg-white">
          <h2 class="text-3xl mb-4">Iniciar Sesión</h2>
          <p class="mb-4">Inicia sesión para acceder a tu cuenta.</p>
          <form #form="ngForm" (ngSubmit)="login(form)">
            @if (errors.length) {
            <div class="text-error">
              <ul>
                @for (error of errors; track error) {
                <li>{{ error }}</li>
                }
              </ul>
            </div>
            }
            <div
              class="text-error"
              [hidden]="userName.valid || userName.pristine"
            >
              @if( userName.errors?.['required'] ) { El Usuraio obligatorio }
              @else if (userName.errors?.['email']) { Ingrese un Usuario válido
              }
            </div>
            <div class="mt-5">
              Usuario
              <input
                type="text"
                placeholder="Email"
                class="border border-gray-400 py-1 px-2 w-full"
                [(ngModel)]="authRequest.userName"
                #userName="ngModel"
                required=""
                name="userName"
              />
            </div>
            <div
              class="text-error"
              [hidden]="password.valid || password.pristine"
            >
              @if(password.errors?.['required']) { La contraseña es obligatoria
              }
            </div>
            <div class="mt-5">
              Contraseña
              <input
                type="password"
                placeholder="Contraseña"
                class="border border-gray-400 py-1 px-2 w-full"
                [(ngModel)]="authRequest.password"
                required=""
                #password="ngModel"
                name="password"
              />
            </div>

            <div class="mt-5 text-black">
              <span>
                Aún no tiene cuenta.
                <a
                  [routerLink]="['/auth/signup']"
                  routerLinkActive="router-link-active"
                  class="font-semibold check-terms"
                >
                  Regístrese aquí.</a
                >
              </span>
            </div>

            <div class="mt-5">
              <button
                class="w-full py-3 text-center font-bold signup text-white"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TUTOR -->
<div class="relative">
  <div
    class="bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a
      [routerLink]="['/courses/tutor/', course.tutor?.id]"
      class="flex flex-auto"
    >
      <div>
        <img
          [src]="course.tutor?.photoRoute || '' | apiImg"
          alt="Teacher"
          class="h-36 m-4 object-cover"
        />
      </div>
      <div class="flex flex-auto flex-col justify-between">
        <div class="m-4">
          <span class="text-gray-400 mr-3 uppercase text-xs">TUTOR</span>
          <p class="text-lg font-bold text-black truncate block capitalize">
            {{ course.tutor?.firstName }}
          </p>
          <p class="text-sm text-black">
            {{ course.tutor?.description }}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
<!--OTHER PROFILES-->
<div class="bg-white p-3 hover:shadow">
  <div
    class="flex items-center space-x-3 font-semibold text-gray-900 text-xl leading-8"
  >
    <span class="text-green-500">
      <svg
        class="h-5 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
        />
      </svg>
    </span>
    <span>Otros perfiles</span>
  </div>
  <div class="grid grid-cols-3">
    @for (tutor of this.randomTutor; track tutor.id) {
    <div class="text-center my-2">
      <img
        class="h-16 w-16 rounded-full mx-auto"
        [src]="tutor.photoRoute || '' | apiImg"
        alt=""
      />
      <a [routerLink]="['/courses/tutor/', tutor.id]" class="text-main-color">{{
        tutor.firstName
      }}</a>
    </div>
    }
  </div>
</div>
